html, body {
    background-color: #f5f5f5;
    height: 100%;
}

#masterhead {
    background-color: #049cd9;
    background-image: -moz-linear-gradient(#004d9f, #049cd9);
    color: #ffffff;
    -moz-box-shadow: 0 0 6px #888888;
    -webkit-box-shadow: 0 0 6px #888888;
    box-shadow: 0 0 6px #888888;
}
#masterhead .inner {
    padding: 55px 0 10px 0;
}
#masterhead h1 {
    color: #ffffff;
    margin-bottom: 8px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#masterhead a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
#masterhead a:hover {
    color: #ffff00;
}
#header-on-main-page {
    width: 400px;
    margin: auto;
}
#main-on-main-page {
    width: 400px;
    margin-top: 10px;
}
#main-on-main-page p {
    padding-left: 20px;
}
/* description and poster */
.event-description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}
#posterdisplay {
    margin-top: 5px;
    padding: 0 0 10px 10px;
    display: inline;
    float: right;
}
/* go button */
#gobuttonarea {
    text-align: center;
    margin: 10px;
}
/* goers list */
#goers {
    background-color: #049CD9;
    -moz-box-shadow: 0 0 6px #888888;
    -webkit-box-shadow: 0 0 6px #888888;
    box-shadow: 0 0 6px #888888;
    margin-top: 10px;
}
#goers h2 {
    color: #ffffff;
    margin-bottom: 0px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#goerslist {
    padding: 0 0 8px 10px;
}
/* comments list */
#comments {
    padding-top: 10px;
}
#comments h2 {
    color: #222222;
    margin-bottom: 0px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.comment {
    padding: 10px;
    margin: 0;
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
    clear: both;
    display: block;
    color: #222222;
}
.comment-avatar {
    float:left;
    height: 50px;
    margin-top: 3px;
    overflow: hidden;
    width: 50px;
}
.comment-content {
    margin-left: 60px;
    min-height: 50px;
    line-height: 15px;
}
.comment-content span.attendance-status {
    color: #777777;
    font-size: 12px;
}
.comment-text p {
    color: #444444;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
}
.comment-text small {
    color: #AAAAAA;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}
.comment-text small:before {
    content: "— ";
}

.center540 {
    display: block;
    width: 540px;
    margin: auto;
    padding: 0;
}
.textright {
    text-align: right;
    margin: 5px 0;
    padding: 10px 19px;
}
#comment-form {
    margin-top: 10px;
}
#login-to-comment-box {
    margin-bottom: 36px;
}
/* modal forms */
.soc-auth-buttons li {
    display: inline;
    float: left;
    width: 100px;
    padding-right: 80px;
}
.soc-auth-buttons li:last-child {
    padding-right: 0;
}
.soc-auth-buttons li a, .soc-auth-buttons li a:hover {
    text-decoration: none;
}
.soc-auth-buttons li a:hover span {
    text-decoration: underline;
}
.soc-auth-buttons li a span {
    display: block;
    width: 100%;
    text-align: center;
}
form div.openid-identifier {
    display: inline-block;
    float: right;
    background: url('../img/openid_20.png') no-repeat;
    padding: 0 0 0 30px;

}
form div.openid-identifier input[type=text] {
    width: 380px;
    margin-top: -1px;
}
/* topbar */
.topbar h3 span {
    color: #656565;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}
.topbar ul li span {
    display: block;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
}
.topbar ul li span strong{
    color: #dedede;
}
#session img {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
    width: 20px;
}
.menulogin img {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
    width: 20px;
}
.topbar ul li span input[type=checkbox] {
    display: inline-block;
    margin: 3px 0 3px 2px;
    vertical-align: top;
}

/* feedback form */
#feedback-form-inner input, #feedback-form-inner textarea {
    width: 90%;
}
#feedback-form, #feedback-form fieldset, #feedback-form .actions {
    margin-bottom: 0;
}
