html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, em, img, ins, kbd,
strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;  
    padding: 0;  
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    height: 100%;
}
body {
    line-height: 1.3;
    height: 100%;
    font-family: 'Forum', cursive;
    background: #FEFEFF;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a, a:visited {
    color: #3D5EBD;
}

a:hover {
    color: #EF5050;
    text-decoration: underline;
}

/* header */
#header-out {
    width: 100%;
    color: #ffffff;
    background-color: #067ff1;
}
#header-in {
    padding: 10px 40px 5px 40px;
    width: 960px;
    margin: auto;
}
#header-in h1 {
    font-size: 1.9em;
}
#header-in a, #header-in a:visited {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

#header-in a:hover {
    color: #ffff00;
    font-weight: bold;
    text-decoration: underline;
}
/* page */
#page-out {
    height: 100%;
    color: #222223;
    background-color: #ffffff;
}
#page-in {
    padding: 10px 40px 0 40px;
    margin: auto;
    width: 960px;

}

#page-in h3 {
    font-size: 1.3em;
}

#posterdisplay {
    margin-top: 5px;
    display: inline;
    float: right;
}

a.a-right, a.a-right:visited {
    float: right;
    text-decoration: none;
}
a.a-right:hover {
    text-decoration: underline;
}

#goers li {
    display: inline-block;
    padding: 0 3px 0 3px;
    float: left;
}

/* PLUS MINUS */
#attendance-button-container {
    padding: 5px;
    text-align: center;
}

.plus, .minus {
    display: inline-block;
    padding: 10px;
    margin: auto;
    font-size: 1.9em;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    text-decoration: none;
}

.plus, .plus:visited {
    color: #005700;
    background-color: #43BF30;
    border-color: #005700;
}
.plus:hover {
    color: #002700;
    background-color: #13AF00;
    border-color: #002700;
    text-decoration: none;
}

.minus, .minus:visited {
    color: #FF0000;
    background-color: #FFAAAA;
    border-color: #FF0000;
}
.minus:hover {
    color: #FF0000;
    background-color: #FF8888;
    border-color: #FF0000;
    text-decoration: none;
}

/*********** COMMENTS **********/
#comments {
    margin-top: 40px;
}
.comment-user {
    font-weight: bold;
}
.comment-date {
    color: #666666;
    font-size: small;
}
.comment-date:hover {
    color: #111111;
    font-size: small;
}
.comment-text {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 3px;
    background-color: #E6E6E6;
}
.please-login {
    padding: 5px;
    background-color: #ffffaa;
}