<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}+{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Плюс">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/plus.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    {#<link rel="stylesheet" href="{{ STATIC_URL }}styles/reveal.css" media="all">
    <script src="{{ STATIC_URL }}js/jquery-1.6.1.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.reveal.js" type="text/javascript"></script>
    <!--[if lt IE 9]><script src="javascript/html5.js"></script><![endif]-->#}
    {% block extrahead %}{% endblock %}
  </head>
    <div id="page">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
