<!DOCTYPE html>{% load i18n basic_math %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}+{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/bsexp.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/tipsy.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/plusmodal.css" media="all">
    <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.tipsy.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.reveal.js" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
      $(document).ready(function() {
        // Dropdown for topbar nav
        // ===============================

        $("body").bind("click", function (e) {
          $('a.menu').parent("li").removeClass("open");
        });

        $("a.menu").click(function (e) {
          var $li = $(this).parent("li").toggleClass('open');
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
	<div class="container fixed">
	  <h3><a href="#">+</a></h3>
	  <ul>
	    {% block extratopbar %}{% endblock %}
	  </ul>
	  <ul class="nav secondary-nav">
            <li class="menu">
              <a id="session" class="menu" href="#">
		{% if user.is_authenticated %}
		  <img src="{{ user.soc_avatar }}" width="20px" height="20px" />{{ user.soc_username }}
		{% else %}
		  Social login
		{% endif %}
	      </a>
              <ul class="menu-dropdown">
		{% if user.is_authenticated %}
   		  <li><a href="logout/">{% trans "Logout" %}</a></li>
		{% else %}
		  <li><a href="#">Вконтакте</a></li>
		  <li><a href="#">Twitter</a></li>
		  <li><a href="#">Facebook</a></li>
                  <li class="divider"></li>
		  <li><a href="#" data-reveal-id="auth-openid">Open ID</a></li>
		{% endif %}
              </ul>
            </li>
	  </ul>
	</div>
      </div>
    </div>

<div id="masterhead">
  <div class="inner">
    <div class="container">
      {% block header %}{% endblock %}
    </div>
  </div>
</div>


    {% block content %}{% endblock %}

    <div id="auth-openid" class="reveal-modal modal-plus">
      <div class="modal-header">
	<h3>{% trans "Login via OpenID" %}:</h3>
	<a class="close-reveal-modal close" href="#">×</a>
      </div>
      <div class="modal-footer">
	<form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
	  <div class="soc-auth-buttons">
	    <div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
	    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	  </div>
	</form>
      </div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>
