{% load comments i18n %}
<h3 id="comment">{% trans "Leave comment" %}:</h3>
{% if request.user.is_authenticated %}
  <div class="comment-form-form">
    <form method="post" action="/comments/post/">
      {% csrf_token %}
      <div class="comment-form-textarea">
	{% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
	{{ form.comment }}
      </div>
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      {{ form.parent }}
      <div style="display: none">{{ form.honeypot }}</div>
      <input type="hidden" name="next" value="{{ request.path }}" />
      <input class="comment-submit-button" type="submit" value="{% trans 'Submit' %}" name="post">
    </form>
  </div>
  <div style="clear:both"></div>
{% else %}
<div class="please-login">
{% url socialauth_begin "twitter" as twit_url %}
{% url socialauth_begin "facebook" as fb_url %}
{% url socialauth_begin "vkontakte" as vk_url %}
{% blocktrans with full_path=request.get_full_path%}
Please login via <a href="{{ vk_url }}?next={{ full_path }}">Vkontakte</a>, <a href="{{ fb_url }}?next={{ full_path }}">Facebook</a>, <a href="{{ twit_url }}?next={{ full_path }}">Twitter</a> or <a href="#" data-reveal-id="auth-openid">Open ID</a> in order to leave comments
{% endblocktrans %}
</div>
{% endif %}
