{% load comments i18n %}
{% if request.user.is_authenticated %}
  <div id="comment-form" class="clearfix">
    
    <form method="post" action="/comments/post/">
      <fieldset>
      <legend>{% trans "Leave comment" %}</legend>
      {% csrf_token %}
      {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
      <label for="id_comment">{% trans "Text" %}:</label>
      <div class="input">
	{{ form.comment }}
      </div>
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      {{ form.parent }}
      <div style="display: none">{{ form.honeypot }}</div>
      <input type="hidden" name="next" value="{{ request.path }}" />
      <div class="actions">
	<input class="btn primary" type="submit" value="{% trans 'Submit' %}" name="post">
      </div>
      </fieldset>
    </form>
  </div>
  <div style="clear:both"></div>
{% else %}
{% url plus_socialauth_begin "twitter" as twit_url %}
{% url plus_socialauth_begin "facebook" as fb_url %}
{% url plus_socialauth_begin "vkontakte-oauth2" as vk_url %}
<div class="alert-message block-message error">
  <p>
{% blocktrans with full_path=request.get_full_path%}
Please login via <a href="{{ vk_url }}?next={{ full_path }}" rel="nofollow">Vkontakte</a>, <a href="{{ fb_url }}?next={{ full_path }}" rel="nofollow">Facebook</a>, <a href="{{ twit_url }}?next={{ full_path }}" rel="nofollow">Twitter</a> or <a href="#" data-reveal-id="auth-openid">Open ID</a> in order to leave comments
{% endblocktrans %}
  </p>
</div>
{% endif %}
