{% extends "base.html" %}
{% load i18n %}

{% block header %}{{ block.super }}ПЕРАДПРАГЛЯД{% endblock %}
{% block title %}{{ block.super }}ПЕРАДПРАГЛЯД{% endblock %}

{% block content %}
  {% load comments %}
  <div class="comment-form-form">
    <form method="post" action="/comments/post/">
      <div class="comment-form-textarea">
	{% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
	{{ form.comment }}
      </div>
      {% if request.user.is_authenticated %}
        {% csrf_token %}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        {{ form.parent }}
        <div style="display: none">{{ form.honeypot }}</div>
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="comment-submit-button" type="submit" value="Адправіць" name="post">
      {% else %}
	<div class="please-login">
	  Увайдзіце праз <a href="#">Вкантакце</a>, <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Google</a> ці <a href="#">Open ID</a>, каб мець магчымасць пакідаць каментары.
	</div>
       {% endif %}

    </form>
  </div>
  <div style="clear:both"></div>
{% endblock %}
