{% extends "bootstrap.html" %}
{% load comments i18n plus_tags %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
 $(document).ready(function() {
    $('.goer-avatar').tipsy({gravity: 's', opacity: 0.9});
 });
</script>
{% endblock %}

{% block content %}

<div class="topbar">
  <div class="fill">
    <div class="container fixed">
      <h3><a href="#">Project name</a></h3>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>



<div id="masterhead">
  <div class="inner">
    <div class="container">
      <h1>{{ event.title }}</h1>
      <div class="row show-grid" title="Example uncommon two-column layout">
	<div class="span7 columns">{% trans "Starts:" %} <strong>{{ event.starts_at|date:"j E Y г. G:i" }}</strong></div>
	<div class="span9 columns">{% if event.url %}<a style="float:right" href="{{ event.url }}">{{ event.url }}</a>{% endif %}</div>
      </div>
    </div>
  </div>
</div>

{# DESCRIPTION TEXT #}
<div class="container">
  <div class="event-description">
	 {% if event.logo %}<div id="posterdisplay"><img src="{{ event.posterdisplay.url }}" alt="Poster" /></div>{% endif %}
	 {{ event.description|linebreaksbr }}
  </div>

  {# GO BUTTON #}
  {% if future_event %}
    <p id="gobuttonarea" >
    {% if curr_attendance %}
      {% url event_minus event.slug as gobutton_url %}
    {% else %}
      {% if user.is_authenticated %}
        {% url event_plus event.slug as gobutton_url %}
      {% endif %}
    {% endif %}
    <a id="gobutton" href="{{ gobutton_url|default:'#' }}" class="btn large {% if curr_attendance %}danger{% else %}primary{% endif %}" {% if curr_attendance %}data-reveal-id="auth-plus"{% endif %} rel="nofollow">
      {% if curr_attendance %}
          {% trans "Press if you've changed your mind to go" %}
      {% else %}
          {% trans "Press if you are going to go" %}
      {% endif %}
    </a>
    </p>
  {% endif %}

</div>

<div id="goers">
  <div class="inner">
    <div class="container">
    {% if goers or curr_attendance %}
    <h2>
      {% if future_event %}
        {% blocktrans count counter=goers|length|add:curr_attendance %}
        {{ counter }} person is going to the event:
        {% plural %}
        {{ counter }} persons are going to the event:
        {% endblocktrans %}
      {% else %}
        {% blocktrans count counter=goers|length|add:curr_attendance %}
        {{ counter }} person attended the event:
        {% plural %}
        {{ counter }} persons attended the event:
        {% endblocktrans %}
      {% endif %}
    </h2>

    <div id="goerslist">
      {% if curr_attendance %}
      <a href="{{ user.soc_link }}">
	  <img class="goer-avatar" src="{{ user.soc_avatar }}" alt="{{ user.soc_username }}" title="{{ user.soc_username }}" width="50px" height="50px" />
	</a>
      {% endif %}
      {% for usr in goers %}
        <a href="{{ usr.soc_link }}">
	  <img class="goer-avatar" src="{{ usr.soc_avatar }}" alt="{{ usr.soc_username }}" title="{{ usr.soc_username }}" width="50px" height="50px" />
	</a>
      {% endfor %}
    </div>

    {% endif %}

    </div>
  </div>
</div>

<div id="comments">
  <div class="container">
    {% get_comment_list for event as comment_list %}
    {% if comment_list %}
      <h2>{% trans "Comments" %}:</h2>
      {% for comment in comment_list|annotate_users %}
        <div class="comment">
	  <div class="comment-avatar">
	    <img class="goer-avatar" src="{{ comment.user.soc_avatar }}" alt="{{ comment.user.soc_username }}" width="50px" height="50px" />
	  </div>
	  <div class="comment-content">
            <a class="comment-user">{{ comment.user.soc_username }}</a> <span class="attendance-status">(идет)</a>
	    <div class="comment-text">
	      <p>{{ comment.comment|linebreaksbr }}</p>
	      <small>{{ comment.submit_date|date:"j E Y г. G:i" }}</small>
	    </div>
	  </div>
	</div>
     {% endfor %}
    {% endif %}
  </div>
  <div id="comment-form-base-root2" class="comment-form">
  {% render_comment_form for event %}
  </div>
</div>
{% endblock %}

{% block bottom %}
<div id="auth-openid" class="reveal-modal">
  <h1>{% trans "Login via OpenID" %}:</h1>
  <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div class="soc-auth-buttons">
      <div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" value="{% trans "Login" %}" /></div>
      <input type="hidden" name="next" value="{% url show_event event.slug %}#comment" />
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="auth-plus" class="reveal-modal">
  <h1>{% trans "Please login with:" %}</h1>{% url event_plus event.slug as curr_plus%}
  <ul class="soc-auth-buttons">
    <li class="soc-auth-button"><a rel="nofollow" href="{% url plus_socialauth_begin "vkontakte-oauth2" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/vkontakte_100.png" width="100px" /><span>Vkontakte</span></a></li>
    <li class="soc-auth-button"><a rel="nofollow" href="{% url plus_socialauth_begin "twitter" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/twitter_100.png" width="100px" /><span>Twitter</span></a></li>
    <li class="soc-auth-button"><a rel="nofollow" href="{% url plus_socialauth_begin "facebook" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/facebook_100.png" width="100px" /><span>Facebook</span></a></li>
  </ul>
  <br />
  <h1>{% trans "...or use OpenID" %}</h1>
  <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div class="soc-auth-buttons">
      <div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" value="{% trans "Login" %}" /></div>
      <input type="hidden" name="next" value="{{ curr_plus }}" />
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
