{% extends "base.html" %}
{% load comments i18n basic_math plus_tags %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
 $(document).ready(function() {

    {% if curr_attendance %}
    $("#topbar-go").attr("checked", "checked");
    {% else %}
    $("#topbar-go").removeAttr("checked");
    {% endif %}
    $('#topbar-go').click(function (e) {
      {% if user.is_authenticated %}
        if ($(this).is(':checked')) {
          window.location = 'plus/';
        } else {
          window.location = 'minus/';
        }
      {% else %}
        $('#auth-plus').reveal();
        $("#topbar-go").removeAttr("checked");
      {% endif %}
    });

    processHash();
    $('.goer-avatar').tipsy({gravity: 's', opacity: 0.9});
 }); 
 function goToByScroll(id){
     	$('html,body').animate({scrollTop: $(id).offset().top},'slow');
 }
 function processHash(hash) {
   hash = typeof hash != 'undefined' ? hash : window.location.hash;
   if (hash === '#addcomment') {
     $('#id_comment').focus();
   }
 }

</script>
{% endblock %}

{% block extratopbar %}
{% if future_event %}
  <li><span>Я іду: <input id="topbar-go" type="checkbox" checked="{% if curr_attendance %}yes{% else %}no{% endif %}" {% if not curr_attendance and event.seats_number and event.seats_number|sub:goer_id_set <= 0 %}disabled="disabled"{% endif %}></span></li>
  <li><span>Усяго чалавек ідуць: <strong>{{ goers|length|add:curr_attendance }}</strong></span></li>
  {% if event.seats_number|default_if_none:"none" != "none" %}
    <li><span>Засталося месцаў: <strong>{{ event.seats_number|sub:goer_id_set }}</strong></span></li>
  {% endif %}
{% endif %}
{% endblock %}

{% block header %}
  <h1>{{ event.title }}</h1>
  <div class="row show-grid">
    <div class="span7 columns">{% trans "Starts:" %} <strong>{{ event.starts_at|date:"j E Y г. G:i" }}</strong></div>
    <div class="span9 columns">{% if event.url %}<a style="float:right" href="{{ event.url }}">{{ event.url }}</a>{% endif %}</div>
  </div>
{% endblock %}


{% block content %}

{# DESCRIPTION TEXT #}
<div class="container">
  <div class="event-description">
	 {% if event.logo %}<div id="posterdisplay"><img src="{{ event.posterdisplay.url }}" alt="Poster" /></div>{% endif %}
	 {{ event.description|linebreaksbr }}
  </div>

  {# GO BUTTON #}
  {% if future_event %}
    <p id="gobuttonarea" >
    {% if not event.seats_number or event.seats_number|sub:goer_id_set > 0 %}
      {% if curr_attendance %}
        {% url event_minus event.slug as gobutton_url %}
      {% else %}
        {% if user.is_authenticated %}
          {% url event_plus event.slug as gobutton_url %}
        {% endif %}
      {% endif %}
      <a id="gobutton" href="{{ gobutton_url|default:'#' }}" class="btn large {% if curr_attendance %}danger{% else %}primary{% endif %}" {% if not user.is_authenticated %}data-reveal-id="auth-plus"{% endif %} rel="nofollow">
        {% if curr_attendance %}
            {% trans "Press if you've changed your mind to go" %}
        {% else %}
            {% trans "Press if you are going to go" %}
        {% endif %}
      </a>
    {% else %}
      <span class="btn large disabled">{% trans "Registration is closed as there are no more seats left" %}</span>
    {% endif %}
    </p>
  {% endif %}

</div>

<div id="goers">
  <div class="inner">
    <div class="container">
    {% if goers or curr_attendance %}
    <h2>
      {% if future_event %}
{% blocktrans count counter=goer_id_set|length %}
{{ counter }} person is going to the event:
{% plural %}
{{ counter }} persons are going to the event:
{% endblocktrans %}
      {% else %}
{% blocktrans count counter=goers|length|add:curr_attendance %}
{{ counter }} person attended the event:
{% plural %}
{{ counter }} persons attended the event:
{% endblocktrans %}
      {% endif %}
    </h2>

    <div id="goerslist">
      {% if curr_attendance %}
      <a href="{{ user.soc_link }}">
	  <img class="goer-avatar" src="{{ user.soc_avatar }}" alt="{{ user.soc_username }}" title="{{ user.soc_username }}" width="50px" height="50px" />
	</a>
      {% endif %}
      {% for usr in goers %}
        <a href="{{ usr.soc_link }}">
	  <img class="goer-avatar" src="{{ usr.soc_avatar }}" alt="{{ usr.soc_username }}" title="{{ usr.soc_username }}" width="50px" height="50px" />
	</a>
      {% endfor %}
    </div>
    {% else %}
      {% if future_event %}
        <h2>{% trans "Nobody has registered for the event yet :(" %}</h2>
      {% else %}
        <h2>{% trans "Nobody registered for the event :(" %}</h2>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>

{% get_comment_list for event as comment_list %}
{% render_ncomment_list event comment_list goer_id_set %}
{% endblock %}

{% block bottom %}
<div id="auth-plus" class="reveal-modal modal-plus">
  <div class="modal-header">
    <h3>{% trans "Please login with:" %}</h3>
    <a class="close-reveal-modal close" href="#">×</a>
  </div>
  <div class="modal-body">
  {% url event_plus event.slug as curr_plus%}
  <ul class="soc-auth-buttons">
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "vkontakte-oauth2" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/vkontakte_100.png" width="100px" /><span>Vkontakte</span></a></li>
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "twitter" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/twitter_100.png" width="100px" /><span>Twitter</span></a></li>
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "facebook" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/facebook_100.png" width="100px" /><span>Facebook</span></a></li>
  </ul>
  <div style="clear: both"></div>
  </div>
  <div class="modal-footer">
  <h3>{% trans "...or use OpenID" %}</h1>
  <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div class="soc-auth-buttons">
      <div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
      <input type="hidden" name="next" value="{{ curr_plus }}" />
    </div>
  </form>
  </div>
</div>
<div id="auth-openid-addcomment" class="reveal-modal modal-plus">
  <div class="modal-header">
    <h3>{% trans "Login via OpenID" %}:</h3>
    <a class="close-reveal-modal close" href="#">×</a>
  </div>
  <div class="modal-footer">
    <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
      <div class="soc-auth-buttons">
	<div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
	<input type="hidden" name="next" value="{% url show_event event.slug%}#addcomment" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
