{% extends "bootstrap.html" %}
{% load comments i18n %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
 $(document).ready(function() {
    $('.goer-avatar').tipsy({gravity: 's', opacity: 0.9});

  // Dropdown example for topbar nav
  // ===============================

  $("body").bind("click", function (e) {
    $('a.menu').parent("li").removeClass("open");
  });

  $("a.menu").click(function (e) {
    var $li = $(this).parent("li").toggleClass('open');
    return false;
  });
 });
</script>
{% endblock %}

{% block content %}

<div class="topbar">
  <div class="fill">
    <div class="container fixed">
      <h3><a href="#">+</a></h3>
      <ul>
        <li><span>Чалавек ідуць: <strong>{{ goers|length|add:curr_attendance }}</strong></span></li>
        <li><span>Засталося месцаў: <strong>15</strong></span></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="menu">
          <a id="session" class="menu" href="#">
	    {% if user.is_authenticated %}
	      <img src="{{ user.soc_avatar }}" width="20px" height="20px" />{{ user.soc_username }}
	    {% else %}
	      Social login
	    {% endif %}
	  </a>
          <ul class="menu-dropdown">
	    {% if user.is_authenticated %}
   	      <li><a href="{% url event_logout event.slug %}">{% trans "Logout" %}</a></li>
	    {% else %}
	      <li><a href="#">Вконтакте</a></li>
	      <li><a href="#">Twitter</a></li>
	      <li><a href="#">Facebook</a></li>
              <li class="divider"></li>
              <li><a href="#" data-reveal-id="auth-openid">Open ID</a></li>
	    {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="masterhead">
  <div class="inner">
    <div class="container">
      <h1>{{ event.title }}</h1>
      <div class="row show-grid" title="Example uncommon two-column layout">
	<div class="span7 columns">{% trans "Starts:" %} <strong>{{ event.starts_at|date:"j E Y г. G:i" }}</strong></div>
	<div class="span9 columns">{% if event.url %}<a style="float:right" href="{{ event.url }}">{{ event.url }}</a>{% endif %}</div>
      </div>
    </div>
  </div>
</div>

{# DESCRIPTION TEXT #}
<div class="container">
  <div class="event-description">
	 {% if event.logo %}<div id="posterdisplay"><img src="{{ event.posterdisplay.url }}" alt="Poster" /></div>{% endif %}
	 {{ event.description|linebreaksbr }}
  </div>

  {# GO BUTTON #}
  {% if future_event %}
    <p id="gobuttonarea" >
    {% if curr_attendance %}
      {% url event_minus event.slug as gobutton_url %}
    {% else %}
      {% if user.is_authenticated %}
        {% url event_plus event.slug as gobutton_url %}
      {% endif %}
    {% endif %}
    <a id="gobutton" href="{{ gobutton_url|default:'#' }}" class="btn large {% if curr_attendance %}danger{% else %}primary{% endif %}" {% if not curr_attendance %}data-reveal-id="auth-plus"{% endif %} rel="nofollow">
      {% if curr_attendance %}
          {% trans "Press if you've changed your mind to go" %}
      {% else %}
          {% trans "Press if you are going to go" %}
      {% endif %}
    </a>
    </p>
  {% endif %}

</div>

<div id="goers">
  <div class="inner">
    <div class="container">
    {% if goers or curr_attendance %}
    <h2>
      {% if future_event %}
        {% blocktrans count counter=goers|length|add:curr_attendance %}
        {{ counter }} person is going to the event:
        {% plural %}
        {{ counter }} persons are going to the event:
        {% endblocktrans %}
      {% else %}
        {% blocktrans count counter=goers|length|add:curr_attendance %}
        {{ counter }} person attended the event:
        {% plural %}
        {{ counter }} persons attended the event:
        {% endblocktrans %}
      {% endif %}
    </h2>

    <div id="goerslist">
      {% if curr_attendance %}
      <a href="{{ user.soc_link }}">
	  <img class="goer-avatar" src="{{ user.soc_avatar }}" alt="{{ user.soc_username }}" title="{{ user.soc_username }}" width="50px" height="50px" />
	</a>
      {% endif %}
      {% for usr in goers %}
        <a href="{{ usr.soc_link }}">
	  <img class="goer-avatar" src="{{ usr.soc_avatar }}" alt="{{ usr.soc_username }}" title="{{ usr.soc_username }}" width="50px" height="50px" />
	</a>
      {% endfor %}
    </div>

    {% endif %}

    </div>
  </div>
</div>

{% render_comment_list for event %}
{% endblock %}

{% block bottom %}
<div id="auth-openid" class="reveal-modal modal">
  <div class="modal-header">
    <h3>{% trans "Login via OpenID" %}:</h3>
    <a class="close-reveal-modal close" href="#">×</a>
  </div>
  <div class="modal-footer">
    <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
      <div class="soc-auth-buttons">
	<div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
	<input type="hidden" name="next" value="{% url show_event event.slug %}#comment" />
      </div>
    </form>
  </div>
</div>

<div id="auth-plus" class="reveal-modal modal">
  <div class="modal-header">
    <h3>{% trans "Please login with:" %}</h3>
    <a class="close-reveal-modal close" href="#">×</a>
  </div>
  <div class="modal-body">
  {% url event_plus event.slug as curr_plus%}
  <ul class="soc-auth-buttons">
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "vkontakte-oauth2" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/vkontakte_100.png" width="100px" /><span>Vkontakte</span></a></li>
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "twitter" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/twitter_100.png" width="100px" /><span>Twitter</span></a></li>
    <li><a rel="nofollow" href="{% url plus_socialauth_begin "facebook" %}?next={{ curr_plus }}"><img src="{{ STATIC_URL }}img/facebook_100.png" width="100px" /><span>Facebook</span></a></li>
  </ul>
  <div style="clear: both"></div>
  </div>
  <div class="modal-footer">
  <h3>{% trans "...or use OpenID" %}</h1>
  <form action="{% url plus_socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div class="soc-auth-buttons">
      <div class="openid_identifier"><input type="text" value="" name="openid_identifier" /><input type="submit" class="btn primary" value="{% trans "Login" %}" /></div>
      <input type="hidden" name="next" value="{{ curr_plus }}" />
    </div>
  </form>
  </div>
</div>
{% endblock %}
