{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<h2>{{ event.title }}</h2>
{{ event.starts_at }}<br />
{% if event.url %}{{ event.url }}<br />{% endif %}
<div style="border: solid 1px #CCCCCC;">{{ event.description|linebreaksbr }}</div>

{% if future_event %}
  {% if curr_attendance %}
    Вы збіраецесь ісці<br />
    <a href="./minus" class="minus">- / я не пайду</a>
  {% else %}
    {% if user.is_authenticated %}
      <a href="./plus" class="plus">+ / я пайду</a>
    {% else %}
      login
    {% endif %}
  {% endif %}
{% endif %}

{% if goers %}
      <h3>Таксама пойдуць:</h3>
      <ul>{% for usr in goers %}
	<li>{{ usr.username }}</li>
	{% endfor %}</ul>
{% endif %}

<hr />
<div>
  <ul>
    <li><a rel="nofollow" href="{% url socialauth_begin "twitter" %}">Twitter</a></li>
    <li><a rel="nofollow" href="{% url socialauth_begin "facebook" %}">Facebook</a></li>
    <li><a rel="nofollow" href="{% url socialauth_begin "google-oauth" %}">Google OAuth</a></li>
    <li><a rel="nofollow" href="#">Vkontakte</a></li>
  </ul>

  <form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div>
      <label for="openid_identifier">OpenID provider</label>
      <input id="openid_identifier" type="text" value="" name="openid_identifier" />
      <input type="submit" value="Login" />
    </div>
  </form>
</div>

{% endblock %}
