{% extends "base.html" %}
{% load comments i18n plus_tags %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
 $(document).ready(function() {
   $('.goer-text').textOverflow('...');
   $("#goers-more").click(function(event) {
     event.preventDefault();
     $("#goers-more").parent().fadeOut('fast');
     $(".goer-hidden").fadeIn('fast');
   });
 });
</script>
{% endblock %}

{% block header %}
<h1>{{ event.title }}</h1>
<div id="details">{% trans "Starts:" %} <strong>{{ event.starts_at|date:"j E Y г. G:i" }}</strong>
{% if event.url %}<a class="a-right" href="{{ event.url }}">{{ event.url }}</a>{% endif %}</div>
{% endblock %}

{% block content %}
<div id="description">
  {% if event.logo %}<div id="posterdisplay"><img src="{{ event.posterdisplay.url }}" alt="Poster" /></div>{% endif %}
  {{ event.description|linebreaksbr }}
</div>

{% if future_event %}
  <div id="attendance-button-container">
    {% if future_event %}
      {% if curr_attendance %}
        <a href="{% url event_minus event.slug %}" class="minus">{% trans "Press if you've changed your mind to go" %}</a>
      {% else %}
        {% if user.is_authenticated %}
          <a href="{% url event_plus event.slug %}" class="plus">{% trans "Press if you are going to go" %}</a>
        {% else %}
          <a href="#" class="plus" data-reveal-id="auth-plus">{% trans "Press if you are going to go" %}</a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}
{% if user.is_authenticated %}
  <div id="loggedin-as">{% trans "You are logged in as" %}
    {% if user.soc_link %}<a href="{{ user.soc_link }}">{{ user.username }}</a>{% else %}{{ user.username }}{% endif %}.
    <a href="{% url event_logout event.slug %}">{% trans "Logout" %}</a></div>
{% endif %}

<div id="auth-openid" class="reveal-modal">
  <h1>{% trans "Login via OpenID" %}</h1>
  <form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div>
      <label for="openid_identifier">OpenID provider</label>
      <input id="openid_identifier" type="text" value="" name="openid_identifier" />
      <input type="hidden" name="next" value="{% url show_event event.slug %}#comment" />
      <input type="submit" value="Login" />
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="auth-plus" class="reveal-modal">
  <h1>{% trans "Please login" %}</h1>{% url event_plus event.slug as curr_plus%}
  <ul>
    <li><a rel="nofollow" href="{% url socialauth_begin "twitter" %}?next={{ curr_plus }}">Twitter</a></li>
    <li><a rel="nofollow" href="{% url socialauth_begin "facebook" %}?next={{ curr_plus }}">Facebook</a></li>
    <li><a rel="nofollow" href="{% url socialauth_begin "vkontakte" %}?next={{ curr_plus }}">Vkontakte</a></li>
    <li><a rel="nofollow" href="{% url socialauth_begin "google-oauth" %}?next={{ curr_plus }}">Google OAuth</a></li>
    <li><a rel="nofollow" href="#">Vkontakte</a></li>
  </ul>
  <form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
    <div>
      <label for="openid_identifier">OpenID provider</label>
      <input id="openid_identifier" type="text" value="" name="openid_identifier" />
      <input type="hidden" name="next" value="{{ curr_plus }}" />
      <input type="submit" value="Login" />
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

{% block attendance %}
{% if goers or curr_attendance %}
  <h3>{% if future_event %}
    {% blocktrans count counter=goers|length|add:curr_attendance %}
    {{ counter }} person is going to the event:
    {% plural %}
    {{ counter }} persons are going to the event:
    {% endblocktrans %}</h3>
  {% else %}
    {% blocktrans count counter=goers|length|add:curr_attendance %}
    {{ counter }} person attended the event:
    {% plural %}
    {{ counter }} persons attended the event:
    {% endblocktrans %}</h3>
  {% endif %}
  <ul id="goers">
    {% if curr_attendance %}
      <li>
	<{% if user.soc_link %}a{% else %}span{% endif %} href="{{ user.soc_link }}" class="goer">
	  {% if user.soc_avatar %}
            <img class="goer-img" src="{{ user.soc_avatar }}" alt="{{ user.soc_username }}" width="50px" height="50px" />
	  {% else %}
            <img class="goer-img" src="http://graph.facebook.com/100001906253071/picture" width="50px" height="50px" />
	  {% endif %}
	  <div class="goer-text"><b>{% trans "you" %}</b></div>
	</{% if user.soc_link %}a{% else %}span{% endif %}>
      </li>
    {% endif %}
    {% for usr in goers %}
      <li {% if forloop.counter > 10 %}class="goer-hidden"{% endif %}>
	<{% if usr.soc_link %}a{% else %}span{% endif %} href="{{ usr.soc_link }}" class="goer">
	  {% if usr.soc_avatar %}
            <img class="goer-img" src="{{ usr.soc_avatar }}" alt="{{ usr.soc_username }}" />
	  {% else %}
            <img class="goer-img" src="http://graph.facebook.com/100001906253071/picture" width="50px" height="50px" />
	  {% endif %}
	  <div class="goer-text">{{ usr.username }}</div>
	</{% if usr.soc_link %}a{% else %}span{% endif %}>
      </li>
    {% endfor %}
    {% if goers|length > 10 %}
	<li><a href="#" id="goers-more">{% trans 'Show everyone' %}</a></li>
    {% endif %}
  </ul>
  <div style="clear:both"></div>
{% else %}
  <h3>{% trans "Nobody has registered for the event yet :(" %}</h3>
{% endif %}
{% endblock %}

{% block comments %}
<div id="comments">
  {% get_comment_list for event as comment_list %}
  {% if comment_list %}
    <h3>{% trans "Comments" %}:</h3>
    {% for comment in comment_list|annotate_users %}
      <span class="comment-user">{% display_user comment.user %}</span>
      <span class="comment-date">{{ comment.submit_date|date:"j E Y г. G:i" }}</span>
      <div class="comment-text">{{ comment.comment|linebreaksbr }}</div>
    {% endfor %}
  {% endif %}

  <div id="comment-form-base-root2" class="comment-form">
  {% render_comment_form for event %}
  </div>
</div>
{% endblock %}
