{% extends "base.html" %}

{% block title %}+ / я пайду{% endblock %}

{% block header %}
<div style="width: 400px; margin: auto">
  <h1>+ / я пайду</h1>
  Сацыяльны сэрвіс ананімных падзей
</div>
{% endblock %}

{% block content %}
<div class="container">
<h3 style="width: 400px; margin: auto">
Па ўсіх пытаннях звяртайцесь на скрыню
<center><span style="text-decoration: underline">web<nobr /><img style="padding: 0 2px 0 2px; width: 12px;" src="/site_media/static/img/dog.png" alt="@" /><nobr />nott.cc</span></center>
</h3>
</div>
{% endblock %}
