{% extends "base.html" %}{% load i18n feedback_tags %}

{% block title %}+ / я пайду{% endblock %}

{% block header %}
<div id="header-on-main-page">
  <h1>+ / {% trans "я пайду" %}</h1>
  {% trans "Сацыяльны сэрвіс ананімных падзей" %}
</div>
{% endblock %}

{% block content %}
<div id="main-on-main-page" class="container">
  <p>
    {% trans "Праект “+” створаны адмыслова для арганізацыі кватэрнікаў, зачыненных мерапрыестваў ды іншых андэграундных актыўнасцяў." %}
  </p>
  <p>
      {% trans "Праект “+” дазваляе збіраць людзей з Facebook, Vkontakte і Twitter'а (а таксама з дапамогай OpenID) у адным месцы, даючы ім магчымасць запісвацца на падзею." %}
  </p>
  {% feedback_form %}
</h3>
</div>
{% endblock %}
